! special
*.foreground: #D5D8DA
*.background: #D5D8DA
*.cursorColor:  #6C6F93

! black
*.color0:       #1A1C23
*.color8:       #1C1E26

! red
*.color1:       #E9436D
*.color9:       #F43E5C

! green
*.color2:       #27D797
*.color10:      #09F7A0

! yellow
*.color3:       #FAC39A
*.color11:      #FAB795

! blue
*.color4:       #56C2EA
*.color12:      #30AAD7

! magenta
*.color5:       #F360C4
*.color13:      #E54EAF

! cyan
*.color6:       #3CE8E6
*.color14:      #1FDAD9

! white
*.color7:       #dfe3ec
*.color15:      #e7ebf1
