[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=moritz
Environment=DISPLAY=:0
ExecStart=/usr/bin/xtrlock

[Install]
WantedBy=suspend.target
